@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  padding: 0 3.5em;
  font-weight: bold;
  backdrop-filter: blur(3px);
  color: white;
  text-shadow: 1px 1px #0e0e0e;
}

body {
  background-image: url(../public/gol-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.title {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

a {
  text-decoration: none;
  color: #47f6fa;
  text-shadow: 2px 2px #0e0e0e;
}

input,
label,
select {
  margin: 5px 5px 0;
}

button {
  margin: 0 5px 10px 0;
  border: none;
  text-decoration: none;
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.85;
  font-weight: bold;
}

button:disabled {
  cursor: help;
  opacity: 0.4;
  pointer-events: all !important;
}

.create:disabled:hover span {
  display: none;
}

.create:disabled:hover:before {
  content: "Select a board 🚩";
}

button:hover {
  opacity: 1;
  text-shadow: 1px 1px #0e0e0e;
}

button:disabled:hover {
  opacity: 0.4;
  text-shadow: none;
}

.create {
  background-color: #1a86db;
  color: white;
}

.previous {
  background-color: #f04545;
  color: white;
}

.next {
  background-color: #4caf50;
  color: white;
}

.run {
  background-color: #e4a021;
  color: white;
}

.controls {
  padding: 16px 0;
  display: flex;
}
